<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Tourney />
  </div>
</template>

<script>
// @ is an alias to /src
import Tourney from '@/components/Tourney.vue'

export default {
  name: 'home',
  components: {
    Tourney
  }
}
</script>
