<template>
    <div>
        <div class="jumbotron">
            <div class="home-team">
                <img src="">
                <h2>{{ match.teamHome.name }}</h2>
            </div>
            <div class="match-info">
                <div class="time"></div>
                <div class="score">
                    <span class="home team score">{{ homeScore }}</span>
                    <span class="vs">
                    VS
                    </span>
                    <span class="away team score">{{ awayScore }}</span>
                </div>
                <div>
                    {{ match.status }}
                </div>
            </div>
            <div class="away-team">
                <img src="">
                <h2>{{ match.teamAway.name }}</h2>
            </div>
        </div>
        <div class="events">
            <div class="event" v-bind:key="event" v-bind:class="event.props.team === match.teamHome.id ? 'home' : 'away'" v-for="event in match.events">
                <GoalEvent v-if="event.type === 'goal'" v-bind:event="event"/>
                <PenaltyEvent v-if="event.type === 'penalty'" v-bind:event="event"/>
            </div>
        </div>

        <button v-on:click="addGoalEvent('home')">Add HomeGoal</button>
        <button v-on:click="addGoalEvent('away')">Add AwayGoal</button>
        <button v-on:click="addPenaltyEvent">Add Penalti</button>
    </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";
import PenaltyEvent from "@/components/PenaltyEvent";
import GoalEvent from "@/components/GoalEvent";

@Component({
    components: {
        GoalEvent,
        PenaltyEvent
    }
})
export default class Match extends Vue {
    get match() {
        return this.$store.getters.match;
    }
    getScore(teamId) {
        return this.$store.getters.goalCount(teamId);
    }

    get homeScore() {
        return this.getScore(this.match.teamHome.id)
    }

    get awayScore() {
        return this.getScore(this.match.teamAway.id)
    }
    addGoalEvent(side) {
        console.log(side);
        let team;
        if(side === 'home') {
            team = this.match.teamHome.id;
        } else {
            team = this.match.teamAway.id;
        }
        console.log(team);
        const goal = {
            type: 'goal',
            time: '59:25',
            props: {
                team: team,
                scorer: 'playerId',
                assists: [
                    'playerId2',
                    'playerId3'
                ]
            }
        }

        this.$store.commit('addEvent', goal);
    }

    addPenaltyEvent() {
        const penalty = {
            type: 'penalty', 
            time: '14:53',
            props: {
                team: 'teamId',
                player: 'playerId',
                reason: 'penaltyCode',
            }
        }
        this.$store.commit('addEvent', penalty);
    }
}
</script>

<style scoped lang="scss">
    img { display: block; }
    .jumbotron {
        h2 {
            color: #4169e1;
            text-transform: uppercase;
            font-style: italic;
            text-shadow: #777 1px 1px 1px;
        }
        padding: 5em;
        background: #e8f4f8;
        border-radius: 5px;
        border: 0;
        margin: 0;
        box-shadow: #666666 0px 1px 1px 1px;
        display: flex;
        > div {
            flex: 1;
        }
        .match-info {
            display: flex;
            flex-direction: column;
            > div {
                flex: 1;
            }
            width: 320px;
            background: #ffffff;
            color: black;
            margin-top: -5em;
            margin-bottom: -5em;
            .vs {
                line-height: 4em;
            }
            .team.score {
                font-size: 4em;
                font-weight: bold;
                line-height: 1;
            }
        }
        
    }
    .events {
            width: 100%;
            padding: 1em 0;
    }
    .event {
        padding: 0.25em 0;
        width: 50%;
        margin: 0 auto;
        &.away {
            margin-right: 0;
        }
        &.home {
            margin-left: 0;
        }
    }

    button {
        border: 0;
        margin: 1em;
        padding: 0.25em 0.5em;
        display: inline-block;
        background: seagreen;
        border-radius: 5px;
        box-shadow: #777 1px 1px 1px;
        color: whitesmoke;
        &:hover {
            cursor: pointer;
        }
    }
</style>