<template>
    <div>
        {{ event.time }} Goal: {{ event.props.scorer }}, assisted by {{ event.props.assists }}
    </div>
</template>
<script lang="ts">

import {Component, Vue, Prop} from 'vue-property-decorator'

@Component
export default class GoalEvent extends Vue {
    @Prop() private event!: Event;
}
</script>

<style scoped>
    div {
        padding: 0.25em 1em;
        border-radius: 5px;
        background: #fafafa;
        border: 1px solid royalblue;
        border-left: 5px solid royalblue;
    }
</style>