<template>
    <div>
        {{ event.time }} Penalti: {{ event.props.playedId }}
    </div>
</template>
<script lang="ts">

import {Component, Vue, Prop} from 'vue-property-decorator'

@Component
export default class PenaltyEvent extends Vue {
    @Prop() private event!: Event;
}
</script>

<style scoped>
    div {
        padding: 0.25em 1em;
        border-radius: 5px;
        background: #fafafa;
        border: 1px solid lightcoral;
        border-left: 5px solid lightcoral;
    }
</style>